<h2 align="center"> About Page</h2>
<div class="panel-body">
<p>The app’s purpose is to define or translate the English-language terminology we use in the computer programming
    courses in the School of SDDS, for use by all students, whether or not English is a student’s first language.</p>
<p><b>The general functionality of the user app includes:</b></p>
<ol>
    <li>View and browse a list of all terms</li>
    <li>Search for a term in English</li>
    <li>View details about a term, and its meaning in English and in other languages</li>
    <li>Add a new term, English, or in another language (including its first or initial definition)</li>
    <li>For an existing term (English or other), add another definition/data</li>
</ol>
</div>